
<footer class="page-footer font-small blue" style="
	 position: absolute;
 	 bottom: 0;
	 width: 100%;
  	 background-color: black;
     color: white;
    text-align: center">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: Document Assessor V1.0
  </div>
  <!-- Copyright -->
</footer>
</body>
</html>
