<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <nav>
            <ul>
                <% if(!currentUser) {  %>
                    <li><a href="/researchers/register">Register</a></li>
                    <li><a href="/researchers/login">Login</a></li>
                <% } else { %>
                    <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                    <li><a href="/researchers/logout">Logout</a></li>
                <% } %>
            </ul>
        </nav>