<h1>Create new assessment</h1>

<form action="/assessments" method="POST">
    <div>
        <input type="text" name="assessment[title]" placeholder="title">
        <input type="text" name="assessment[description]" placeholder="description">
        <button>Submit</button>
    </div>
</form>