<%- include('../partials/header') %>

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="col-md-12">
                <form id="assessmentForm" class="form card p-3 bg-light"  action="/assessments" method="POST" enctype="multipart/form-data">
                    <h3 class="text-center text-black">New Assesment</h3>
                    <div class="form-group">
                        <label for="title" class="text-black">Title:</label>
                        <input id="title" type="text" name="assessment[title]" placeholder="Title"  class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="description" class="text-black">Description:</label>
                        <input type="text" name="assessment[description]" placeholder="Description" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="instruction" class="text-black">Instruction:</label>
                        <input type="text" name="assessment[instructions]" placeholder="Instruction" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="Number of Users" class="text-black">Number of user per assessment:</label>
                        <input type="number" id="numLinksPerUser" name="assessment[numAssessmentsPerUser]" placeholder="Number of users" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="fileUpload" class="text-black">Upload File:</label><br>
                        <input id="linksFile" type="file" id="fileUpload" name="file" accept=".txt" value="Upload a File" required/>
                    </div>
                    <div class="form-group">
                        <label for="users" class="text-black" >Choose users:</label>
                        <select name="users" id="users" size="5" multiple class="form-control">
                            <option value="">Assign No Users</option>
                            <% users.forEach(function(user) { %>
                                <option value="<%= user.username %>"><%= user.username %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" name="submit" class="btn btn-info btn-md" value="Create assessment"> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<%- include('../partials/footer') %>
