<%- include('../partials/header') %>

<h1>Create new assessment</h1>

<form action="/assessments" method="POST" enctype="multipart/form-data">
    <div>
        <input type="text" name="assessment[title]" placeholder="Title">
    </div>
    <div>
        <input type="text" name="assessment[description]" placeholder="Description">
    </div>
    <div>
        <input type="text" name="assessment[instructions]" placeholder="URL to PDF">
    </div>
    <div>
        <input type="text" name="assessment[numAssessmentsPerUser]" placeholder="Num Assessments per User">
    </div>
    <div>
        <input type="file" name="file" accept=".txt" value="Upload a File" />
    </div>
    <button>Submit</button>
</form>

<%- include('../partials/footer') %>