<%- include("./partials/header") %>

<h1>Create New Assessment!</h1>

<form action="/assessments" method="POST">
    <input type="text" name="assessment[title]" placeholder="title">
    <input type="text" name="assessment[description]" placeholder="description">
    <input type="text" name="assessment[quantity]" placeholder="quantity">
    <button>Submit</button>
</form>

<%- include("./partials/footer") %>
