
.jumbotron {
    margin-top: 20px;
    text-align: center;
}

.navbar {
    margin-bottom: 20px;
}

.container-card {
    margin: auto;
    width: 90%;
}

.card {
    margin-bottom: 20px;;
}

.btn-danger {
    margin-left: 5px;
}

.btn-secondary {
    margin-left: 5px;
}

.delete-form {
    display: inline;
}

.resource-buttons {
    margin: 5px;
}

.button-div {
    display: inline-block;
    margin: 8px;
}

.page-footer {
    margin-top: 150px;
	width: 100%;
  	background-color: black;
    color: white;
    text-align: center"
}
