<%- include('../partials/header') %>

<h1>This is the register page!</h1>

<form action="/users/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <input type="radio" id="researcher" name="userType" value="researcher">
    <label for="researcher">Researcher</label>
    <input type="radio" id="user" name="userType" value="user">
    <label for="user">User</label>
    <br>
    <button>Signup</button>
</form>

<%- include('../partials/footer') %>
